# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host_mysql: 127.0.0.1
    database_port_mysql: 3306
    database_name_mysql: symfony
    database_user_mysql: root
    database_password_mysql: admin
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    database_host_pgsql: 127.0.0.1
    database_port_pgsql: 5432
    database_name_pgsql: symfony
    database_user_pgsql: admin
    database_password_pgsql: admin

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
